.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.5rem;
    background-color: var(--surface);
    color: var(--secondary);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 0 0 20rem 2rem var(--box-shadow); // Soft outer glow using primary color

    .navbar-start {
        display: flex;
        align-items: center;

        .logo {
            font-size: 1.5em;
            font-weight: bold;
            color: var(--secondary);
        }
    }

    .navbar-end {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;

        .nav-links {
            font-weight: bold;
            font-size: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            gap: 3rem;
            color: var(--secondary);

            a {
                color: white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        button {
            font-size: 1em;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 1.5rem;
            background-color: var(--primary);
            color: white;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken(#3e5d52, 10%);
            }
        }
    }
}
