.navbar {
    padding: 1.5rem 5rem;
    background-color: var(--main-page-background);
    color: var(--secondary);
    border: none;
    box-shadow: none;
    transition:
        background-color 0.5s ease,
        box-shadow 0.3s ease;

    .navbar-start {
        .logo {
            font-size: 2.5em;
            font-weight: bold;
            color: var(--secondary);
        }
    }

    .navbar-end {
        gap: 4rem;

        .nav-links {
            font-weight: bold;
            font-size: 1.5em;
            list-style: none;
            gap: 3rem;
            color: var(--secondary);

            a {
                color: var(--secondary);
                text-decoration: none;
                padding: 0.3rem 0;
                transition: border-bottom 0.1s ease;

                &:hover {
                    border-bottom: 3px solid var(--secondary);
                }
            }
        }

        button {
            font-size: 1.5em;
            font-weight: bold;
            padding: 1rem 1.5rem;
            background-color: var(--primary);
            color: var(--secondary);
            border: none;
            border-radius: 2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 0;

            &:hover {
                background: var(--surface);
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
            }
        }
    }
}

:host(.scrolled) .navbar {
    background-color: var(--surface);
    border: 1px solid var(--surface-accent);
    box-shadow: 0 0 15rem 2rem var(--primary-transparent); // Soft outer glow using primary color
}
