.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-start {
        width: 100%;

        .profile {
            display: grid;
            grid-template-areas:
                "greeting call-to-action"
                "professional-summary professional-summary"
                "skills-snapshot skills-snapshot";
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 3fr 2fr 1fr;

            > div {
                background-color: var(--surface);
            }

            .greeting {
                grid-area: greeting;
            }

            .call-to-action {
                grid-area: call-to-action;
            }

            .professional-summary {
                grid-area: professional-summary;
            }

            .skills-snapshot {
                grid-area: skills-snapshot;
            }
        }
    }
}
