*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --site-background: #f0f2f5;
    --main-page-background: #fff;
    --primary: #333;
    --secondary: #666;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    background-color: var(--site-background);
}
