/* You can add global styles to this file, and also import other style files */
/* 1. Reset margins and paddings globally */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* 3. Body styles */
body {
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    background-color: #f0f2f5;
}
