*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --site-background: black;
    --main-page-background: #0f0f0f;
    --primary: #3e5d52;
    --primary-accent: #a7beb4;
    --secondary: #e1eae5;
    --secondary-accent: #dce5e1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    background-color: var(--site-background);
}
